<!DOCTYPE html>

<html lang="fr" class="no-js" data-ng-app="importApp" data-ng-controller="layoutController">

@Html.Partial("_Head")

<body>

    @Html.Partial("_Header")

    <div class="main" data-ng-view="">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/scripts")

</body>

</html>
