<!DOCTYPE html>

<html lang="fr" class="no-js" data-ng-app="importApp" data-ng-controller="layoutController">

@Html.Partial("_Head")

<body>

    @Html.Partial("_Header")

    <div class="page-container">
        <div class="page-head">
            <div class="container">
                <div class="page-title">
                    <h1 data-ng-bind="title"></h1>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="container" data-ng-view="">
                @RenderBody()
            </div>
        </div>
    </div>

    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/scripts")

</body>

</html>
